body {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#scoreSection{
    list-style: none;
    display: flex;
    gap: 100px;
}

.buttonChosen {
    border: yellow 5px inset;
    border-radius: 10%;
}

#computerChoiceSection, #playerChoiceSection{
    width: 110px;
    height:125px;
    position: relative;
}

.noChoice, .Rock, .Paper, .Scissors{
    background-size: 100% 100%;
}

.noChoice {
    background-image: url(images/fist.png);
}

.Rock {
    background-image: url(images/rock.png);
}

.Paper {
    background-image: url(images/paper.png);
}

.Scissors {
    background-image: url(images/scissors.png);
}

#computerChoiceSection {
    
    transform: rotate(180deg);

}


@keyframes shakeTopFist{
    0%{
        top: 0px;
    }

    50%{
        top: 40px;
    }
    100%{
        top: 0px;
    }
}

.shake-top-fist{
    animation: shakeTopFist  1s ease-in-out alternate;
    animation-iteration-count: 3;
}


@keyframes shakeBottomFist{
    0%{
        top: 0px;
    }

    50%{
        top: -40px;
    }
    100%{
        top: 0px;
    }
}

.shake-bottom-fist{
    animation: shakeBottomFist  1s ease-in-out alternate;
    animation-iteration-count: 3;
}



#roundResultSection{

}

#buttonSection {

}

.button-pressed{
    
}