body {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#scoreSection{
    list-style: none;
    display: flex;
    gap: 100px;
}

.buttonChosen {
    border: yellow 5px inset;
    border-radius: 10%;
}

#computerChoiceSection, #playerChoiceSection{
    width: 110px;
    height:125px;
    background-color: blanchedalmond;
    border: 3px bisque outset;
    border-radius: 5%;
}

.noChoice {
    background-image: url(images/fist.png);
    background-size: cover;
}

#computerChoiceSection {
    transform: rotate(180deg)
}

#roundResultSection{

}

#buttonSection {

}

.button-pressed{
    
}